<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h4>Brooklyn</h4>
        <div class="container">
            <div class="row">
            <% for (let i = 0; i < desserts.length; i++) { %>
                <div class="col-sm-3">
                    <% for (let j = 0; j < desserts[i].borough.length; j++) { %>
                        <% if (desserts[i].borough[j] === "Brooklyn") { %>
                        <div class="card" style="width: 18rem;">
                            <div class = "item">
                                <img src = "<%=desserts[i].img[0]%>" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title"><a href = "alldesserts/<%=desserts[i].id%>"><%=desserts[i].name%></a></h5>
                                    <p class="card-text"><%=desserts[i].neighborhood%></p>
                                    <a href="alldesserts/<%=desserts[i].id%>/edit" class="btn btn-primary">Edit Product</a>
                                    <form action = "alldesserts/<%=desserts[i].id%>?_method=DELETE" method = "POST">
                                        <input type = "submit" value = "Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    <%}%>
                </div>
            <%}%>
            </div>
        </div>
</body>
</html>