<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desserts</title>
</head>
<body>
    <header>
        <h1>Main page with all desserts</h1>
        <a href = "alldesserts/new">Create New Dessert!</a>
        <% for (let i = 0; i < desserts.length; i++) { %>
            <div class = "item">
                    <h1><a href = "alldesserts/<%=desserts[i].id%>"><%=desserts[i].name%></a></h1><h3><%=desserts[i].neighborhood%></h3>
                    <br>
                    <img src = "<%=desserts[i].img%>">
                    <a href="alldesserts/<%=desserts[i].id%>/edit">Edit Product</a>
                    <form action = "alldesserts/<%=desserts[i].id%>?_method=DELETE" method = "POST">
                        <input type = "submit" value = "Delete">
                    </form>
            <%}%>
    </header>
</body>
</html>