<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dessert Show page</title>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Roboto:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel = "stylesheet" href = "../../css/alldesserts/show.css">
</head>
<body>
    <header>
        <h1>Just Desserts</h1>
        <% include ../partials/nav.ejs %>
    </header>
    <main>
        <div class = "rectangle">
        <h2><%=dessert.name%></h2>
        
<!-- Image Carousel -->
        
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img class = "responsive-img" src="<%=dessert.img[1]%>"></a>
            <a class="carousel-item" href="#two!"><img class = "responsive-img" src="<%=dessert.img[2]%>"></a>
            <a class="carousel-item" href="#three!"><img class = "responsive-img" src="<%=dessert.img[3]%>"></a>
        </div>

<!-- Addresses -->
        <div class = "description">
            <h5><%=dessert.description%></h5>
        </div>
        <% for (let j = 0; j < dessert.borough.length; j++) { %>
            <% if (dessert.borough[j] === 'Brooklyn') { %>
                <h3>Brooklyn Locations</h3>
                <ul class="list-group list-group-flush">
            <% for ( let i = 0; i < dessert.addressBk.length; i++) { %>
                    <li class="list-group-item"><%=dessert.addressBk[i]%></li>
            <% } %>
                </ul>
            <% } %>
        <% } %>
        <% for (let j = 0; j < dessert.borough.length; j++) { %>
            <% if (dessert.borough[j] === 'Manhattan') { %>
                <h3>Manhattan Locations</h3>
                <ul class="list-group list-group-flush">
            <% for ( let i = 0; i < dessert.addressMtn.length; i++) { %>
                    <li class="list-group-item"><%=dessert.addressMtn[i]%></li>
            <% } %>
                </ul>
            <% } %>
        <% } %>
        <% for (let j = 0; j < dessert.borough.length; j++) { %>
            <% if (dessert.borough[j] === 'Queens') { %>
                <h3>Queens Locations</h3>
                <ul class="list-group list-group-flush">
            <% for ( let i = 0; i < dessert.addressQns.length; i++) { %>
                    <li class="list-group-item"><%=dessert.addressQns[i]%></li>
            <% } %>
                </ul>
            <% } %>
        <% } %>
        </div>
    </main>
    <% include ../partials/footer.ejs %>
      
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script>   
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
    </script>
    <script>  
        document.addEventListener('DOMContentLoaded', function() {
            let elems = document.querySelectorAll('.carousel');
            let instances = M.Carousel.init(elems, {fullWidth: false, indicators: false});
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>